<!-- Navigation Bar--> 
<nav class = "navbar navbar-light bg-light">
    <nav>
        <ul>
            <img src = "img/logo.png" width = "45px" style = "float:right">
            <li><a href = "/">Home</a></li>
            <li><a href = "/about">About Me</a></li>
            <li><a href = "/projects">Projects</a></li>
            <li><a href = "/services">Services</a></li>
            <li><a href = "/contact">Contact Me</a></li>
            <li><a href = "/login">Login</a></li>
            <li><a href = "/businessContacts">Business Contacts</a></li>
            <li><a href = "/update">Update</a></li>
        </ul>
    </nav>
</nav>