/*
    File: projects.css
    Aislinn Richardson
    301146892
    Date: June 3 2023
*/

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
.column {
  border: 1px solid #ccc;
  padding: 20px;
}

.column-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

img:hover {
  -webkit-transform: scale(1.5, 1.5);
}