<!--

    File: index.ejs
    Aislinn Richardson
    301146892
    May 30 2023

-->

<!DOCTYPE html>

<html>  
    <head>    
        <title><%= title %></title>  
        <link rel="stylesheet" href="/content/index.css">

    </head>  
    <body>   
        <!-- Main navigation bar-->
        <%- include ('partials/navbar.ejs') %>
        
        <h1 style = "text-align:center">Welcome to <%= title %></h1>
        <p style = "text-align:center; font-weight: heavy"><%- h1%></p>

    </body>
</html>